<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501853433413-ssqo9b68cbjckt86b5u97nn2c127onth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501853433413-ssqo9b68cbjckt86b5u97nn2c127onth</string>
	<key>API_KEY</key>
	<string>AIzaSyCajMhvn2Gx-WIbEAtYYsUqYgKZxQBK_Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>501853433413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutorial.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-3dbc1</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-3dbc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501853433413:ios:bfb04e21afe882c319bd2c</string>
</dict>
</plist>